<% provide :title, "Edit Review By Admin" %>
<div class="row">
  <div class="col-md-12 center">
    <h1>Editing <%= link_to @review.user.name, [:admins, @review.user] %>'s review</h1>
    <%= render "form" %>
  </div>
</div>
