<% provide :title, "My Reviews" %>

<div class="center">
  <h1>My Reviews</h1>
    <%= link_to "New Review", new_review_path, class: "btn btn-primary" if current_user %>
  <hr />
</div>

<div class="panel panel-default">
  <div class="scrolltop-anchor"></div>
  <div class="panel-heading">
    You have <%= pluralize(@total, "review") %> in total.
  </div>

  <table class="table">
    <thead>
      <tr>
        <th class="col-md-1">Created At</th>
        <th class="col-md-2">Title</th>
        <th class="col-md-5">Summary</th>
        <th class="col-md-1">Views</th>
        <th class="col-md-1">Status</th>
        <th class="col-md-2 center">Actions</th>
      </tr>
    </thead>

    <tbody id="reviews">
      <%= render partial: "users/review", collection: @reviews %>
    </tbody>
  </table>

  <% if @reviews.count >= 10 %>
    <div class="panel-footer center">
      <%= paginate @reviews, window: 3, remote: true %>
    </div>
  <% end %>
</div>
