<% provide :title, "My Reviews" %>

<div class="center">
  <h1>My Reviews</h1>
    <%= link_to "New Review", new_review_path, class: "btn btn-primary" if current_user %>
  <hr />
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    You have <%= pluralize(@total, "review") %> in total.
  </div>

  <table class="table">
    <thead>
      <tr>
        <th class="col-md-3">Title</td>
        <th class="col-md-6">Summary</td>
        <th class="col-md-3 center">Actions</td>
      </tr>
    </thead>

    <tbody id="reviews">
      <%= render partial: "users/review", collection: @reviews %>
    </tbody>
  </table>

  <div class="panel-footer center">
    <%= paginate @reviews, window: 3, remote: true %>
  </div>
</div>
