@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$white: #fff;
$shadow-color: #195a36;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

.content {
  min-height: 550px;
}

body {
  padding-top: 60px;
  background-color: #eaeaea;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-weight: bold;
  word-wrap: break-word;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #25AF61;
  text-decoration: none;
}

/* header */

header {
  a {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid #f8f8f8;
    height: auto;
  }

  .dropdown-menu {
    background-color: #f8f8f8;
    a {
      border-bottom: 0px;
    }
  }
}

.navbar-nav > li > a {
  color: #000 !important;
  line-height: 30px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  border-bottom: 2px solid #25AF61;
  color: #25AF61;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  border-color: #25AF61;
}

.dropdown:hover .dropdown-menu {
  margin-top: 5px;
  display: block;
  margin-top: 0;
}

.dropdown-menu > li > a {
  border-bottom: 2px solid transparent;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: transparent;
  border-bottom: 2px solid #25AF61;
}

#logo {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1.8 em;
  color: white;
  background: #25AF61;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 10px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
    background: #333 none repeat scroll 0% 0%;
    color: #B0B0B0;
    padding-top: 20px;
    margin-top: 70px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

[type=checkbox] {
  width: auto!important;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    background-color: #f2dede;
    border-color: #eed3d7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: red;
    margin: 0 0 30px 0;
  }
  li {
    list-style: none;
    text-align: center;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.comments {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

thead {
  background-color: #E1E1E1;
}

select {
  width: 100%!important;
}

.exam {
  .radio {
    padding-left: 20px;
    font-weight: normal;
  }

  input {
    width: auto!important;
  }

  .check_box {
    font-weight: normal;
    display: block;

    .cb {
      margin-right: 5px;
    }
  }

  #clock {
    font-size: 16px;
    font-weight: bold;
    border: none !important;
    background-color: inherit !important;
  }

  .timer {
    border: 1px solid #E6E6E6;
    background-color: #CECECE;
    float: right;
    position: fixed;
    right: 70px;
    top: 70px;
  }
}

.border-none {
  border: none;
}

.comment-box {
  background-color: #fff;
  margin-bottom: 5px;
  padding: 10px;
  float: left;
  width: 100%;
}

.input-comment {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.comment-list {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  margin: 5px 0;
  padding: 5px;
  float: left;
}

.comment-title {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.review-list {
  margin-top: 15px;
  border-top: 1px solid #e1e1e1;
  background-color: $white;
  -webkit-box-shadow: 1px 1px 5px 0 $shadow-color;
  -moz-box-shadow: 1px 1px 5px 0 $shadow-color;
  box-shadow: 1px 1px 5px 0 $shadow-color;
  padding: 10px;
  h3 {
    font-size: 1.5em;
  }
  p {
    font-size: 0.9em;
    line-height: 1.5em;
  }
}

.review-content {
  margin-top: 10px;
  background-color: $white;
  border-radius: 10px;
  h3 {
    margin-top: 0;
    font-size: 2.2em;
    padding: 20px 20px 0px 20px;
  }
}

.review-body {
  padding: 20px;
  h3 {
    margin-top: 0;
    font-size: 2em;
    padding: 20px 20px 0px 20px;
  }
}

.assessment-panel {
  margin-top: 10px;
  border-radius: 10px;
  position: fixed;
  width: 20%;
}

.filter {
  a {
    text-decoration: none !important;
  }

  a.sort-link:hover, a.sort-link:focus, a.sort-link:active, a.page-load-active {
    border-bottom: 2px solid #25AF61;
  }

  .sort-link {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    float: left;
    margin-right: 30px;
    text-transform: uppercase;
    padding: 0px 10px;
    line-height: 40px;
    border-bottom: 2px solid #eaeaea;
  }
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
  .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #25AF61;
  border-color: #25AF61;
}

.pagination > li > a, .pagination > li > span {
  color: #333;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  color: #fff;
  background-color: #25AF61;
  border-color: #25AF61;
}

.form-control:focus {
  border-color: #25af61;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(37, 175, 97);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(37, 175, 97);
}

.quote {
  color: #666;
  margin: 15px;
  font-size: 1.2em;
  font-style: italic;
  text-align: justify;
}

.input-group-addon {
  color: #333;
  min-width: 120px;
}

.author {
  float: right;
  font-weight: bold;
  font-size: 1.1em;
  padding: 10px 20px 10px 10px;
  color: #333;
  span {
    padding: 0 10px;
  }
}

.rate {
  margin-top: 40px;
  background: #fff;
  h4 {
    background: #25af61;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-indent: 20px;
    line-height: 40px;
  }
  .col {
    width: 60%;
    float: left;
    margin: 10px 20px;
    h5 {
      font-size: 20px;
      font-weight: 600;
      line-height: 45px;
    }
    ul li {
      list-style: none;
      width: 100%;
      float: left;
      margin-bottom: 20px;
      span {
        font-size: 13px;
      }
      p {
        display: block;
      }
      .bar {
        border-radius: 4px;
        background: #ebebeb;
        height: 8px;
        width: 100%;
        float: left;
        margin-top: 5px;
        div {
          height: 8px;
          border-radius: 4px;
        }
        .color-1 {
          background: #25af61;
        }
        .color-2 {
          background: #ff6d00;
        }
        .color-3 {
          background: #fdd835;
        }
        .color-4 {
          background: #aeea00;
        }
        .color-5 {
          background: #b2dfdb;
        }
      }
    }
  }
}

.rate:before, .rate:after {
  content: " ";
  display: table;
}

.rate:after {
  clear: both;
}

.compare {
  .panel.good {
    margin-left: 20px;
    margin-right: 0;
  }
  .panel.bad {
    margin-left: 0;
    margin-right: 20px;
  }
  h3 {
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    margin-top: 5px;
    padding: 0;
  }
  .good {
    .panel-heading {
      background: #25AF61;
    }
  }
  .bad {
    .panel-heading {
      background: #FF6100;
    }
  }
}

.equal, .equal > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
}

.search-box {
  margin-top: 10px;
}

.hot-review {
  h3 {
    font-size: 1.5em;
  }
  .circle {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    background: #25af61;
    line-height: 3em;
  }
  span {
    color: #666;
  }
}

.go-top {
  background: transparent url("/assets/gotop.gif?v=1") no-repeat scroll 0% 0%;
  display: none;
  position: fixed;
  z-index: 9999;
  bottom: 30px;
  right: 20px;
  width: 46px;
  height: 46px;
  opacity: 0.5;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

.carousel-caption {
  a {
    text-shadow: #fff 0 0 20px;
    font-size: 1.2em;
    font-weight: bold;
  }

  a:hover, a:focus, a:active {
    color: #fff;
    text-decoration: none;
    text-shadow: #000 0 0 20px !important;
  }
}
