<div class="media">
  <div class="media-left">
    <div class="circle">
      <%= hot_review_iteration.index + 1 %>
    </div>
  </div>
  <div class="media-body">
    <div class="media-heading">
      <%= link_to hot_review.title.html_safe, review_path(hot_review) %>
    </div>
    <div>
      <span class="glyphicon glyphicon-eye-open"></span> <%= hot_review.
        impressionist_count filter: :session_hash %>
    </div>
  </div>
</div>
