<% provide :title, "All Reviews" %>
<div class="row">
  <div class="col-md-12 center">
    <h1>All Reviews</h1>
    <%= link_to "New Review", new_review_path, class: "btn btn-primary" if current_user %>
    <hr />
    <% @reviews.each do |review| %>
      <div>
        <h3><%= link_to review.title.html_safe, review_path(review) %></h3>
        <p><%= review.content.html_safe %></p>
      </div>
      <% if review != @reviews.last %>
        <hr />
      <% end %>
    <% end %>
  </div>
</div>
