<tr>
  <td><%= link_to device.name, [:admins, device] %></td>
  <td><%= device.content.html_safe %></td>
  <td>
    <%= link_to "Edit", edit_admins_device_path(device),
      class: "btn btn-success col-md-4 col-md-offset-1" %>
    <%= link_to "Delete", [:admins, device], method: :delete,
      data: { confirm: "Are you sure?" },
      class: "btn btn-danger col-md-4 col-md-offset-2" %>
  </td>
</tr>
